apiVersion: apps/v1
kind: Deployment
metadata:
  name: devops-challenge
  labels:
    app: devops-challenge
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: devops-challenge
  template:
    metadata:
      labels:
        app: devops-challenge
    spec:
      containers:
        - name: devops-challenge
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.targetPort }}
          env:
            - name: NODE_ENV
              value: "production"
            - name: POSTGRES_PRISMA_URL
              value: "postgres://postgres:postgres@XXX:5432/currencies?schema=public"
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 15
            periodSeconds: 20
          resources:
            requests:
              cpu: {{ .Values.resources.requests.cpu }}
              memory: {{ .Values.resources.requests.memory }}
            limits:
              cpu: {{ .Values.resources.limits.cpu }}
              memory: {{ .Values.resources.limits.memory }}
      nodeSelector:
        {{ toYaml .Values.nodeSelector | nindent 8 }}
