name: ci

on:
  pull_request:
  push:
    branches: [main]

jobs:
  lint-and-build-test:
    runs-on: ubuntu-22.04
    env:
      NODE_ENV: test

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22.14"
          package-manager: "pnpm"

      - name: Set up Corepack
        run: corepack enable

      - name: Install Node.js dependencies
        run: pnpm install --frozen-lockfile

      - name: Run linter
        run: pnpm lint

      - name: Run build
        run: pnpm build
