name: Deploy to Production

on:
    workflow_dispatch:
#   push:
#     branches: [main]

jobs:
    build-and-deploy:
        runs-on: ubuntu-22.04
        env:
            NODE_ENV: production
            REGISTRY: docker.io
            IMAGE_NAME: devops-challenge
            IMAGE_TAG: ${{ github.sha }}
            HELM_RELEASE: devops-challenge
            HELM_CHART_PATH: ./helm
        steps:
            - uses: actions/checkout@v4

            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                  registry: ${{ env.REGISTRY }}
                  username: ${{ secrets.DOCKERHUB_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_PASSWORD }}

            - name: Build Docker Image
              run: |
                  docker build -t $REGISTRY/$IMAGE_NAME:$IMAGE_TAG \
                   -t $REGISTRY/$IMAGE_NAME:latest \
                   -f Dockerfile .

            - name: Push Docker Image
              run: |
                  docker push $REGISTRY/$IMAGE_NAME:$IMAGE_TAG
                  docker push $REGISTRY/$IMAGE_NAME:latest

            - name: Install kubectl
              uses: azure/setup-kubectl@v4
              with:
                  version: v1.31.0

            - name: Install Helm
              uses: azure/setup-helm@v4
              with:
                  version: v3.15.0

            - name: Configure Kubeconfig
              run: |
                  echo "${{ secrets.KUBE_CONFIG_DATA }}" | base64 --decode > $HOME/.kube/config

            - name: Deploy with Helm
              run: |
                  helm upgrade --install $HELM_RELEASE $HELM_CHART_PATH \
                      --set image.repository=$REGISTRY/$IMAGE_NAME \
                      --set image.tag=$IMAGE_TAG \
                      --set image.pullPolicy=IfNotPresent \
                      --wait --timeout 300s
